td.text-xs-right.negativo {
  color: rgb(231, 84, 84);
  font-size: 22px;
}
.positivo {
  color: rgb(119, 253, 119);
}
.negativo {
  color: white;
}
.v-content__wrap {
  background-color: #f4f8f9;
}
.login label.v-label.theme--light {
  font-size: 14px;
  color: #a0a8b6;
}
.login .theme--light.v-icon {
  color: #a0a8b6;
}
